{{page-title "MyApp"}}

{{! The following component displays Ember's default welcome message. }}
{{!-- <WelcomePage /> --}}
{{! Feel free to remove this! }}

<h1>Student Management System</h1>
<LinkTo @route='home'>Home</LinkTo>
<LinkTo @route='students'>Students</LinkTo>
<LinkTo @route='about'>About</LinkTo>
<hr>

{{outlet}}