{{page-title "Students"}}
{{!-- <h2>Students List</h2>
{{#each this.model as |student|}}
<LinkTo @route='student' @model={{student.id}}><StudentCard @model={{student}}/></LinkTo>
{{/each}}
<button type="button">Add Student</button> --}}
{{outlet}}